{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "tabWidth": 4,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.prisma",
      "options": {
        "tabWidth": 4,
        "parser": "prisma-parse"
      }
    }
  ]
}
